*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    padding: 0 15%;
    background-color: #ebdfcc;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper.png");
    user-select: none;
}
h1{
    font-family: 'Ambrosia', sans-serif;
    font-size: min(15vw, 130px);
    color: #2B2B27;
    text-shadow: #2B2B27 0px 0px 2px;
    position: relative;
    margin-bottom: 15px;
}
.bigLetter{
    font-family: 'Ambrosia', sans-serif;
    font-size: min(18vw, 160px);
}
.daily{
    font-family: 'Ambrosia', sans-serif;
    font-size: min(14vw, 30px);
    letter-spacing: 1px;
    position: relative;
    right: 10%;
    bottom: 50%; /* Descendre ici */
}
.headerFull{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: double #2B2B27 3px;
    border-bottom: double #2B2B27 3px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2B2B27;
    margin-bottom: 20px;
}
.headerSmall{
    width: 20%;
}
.headerLarge{
    width: 60%;
}
.sectionSmall{
    width: 20%;
    border-left: solid #2B2B27 1px;
    border-right: solid #2B2B27 1px;
}
.sectionLarge{
    width: 60%;
    padding-left: 4px;
    padding-right: 4px;

}
.sideTitle{
    font-weight: bold; 
    color: #ebdfcc;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #2B2B27;
}
ul{
    width: 100%;
    list-style-type: none;
}
.subTitle{
    font-family: 'DM Serif Display', serif;
    color: #2B2B27;
    font-size: 20px;
    letter-spacing: 2px;
}
.specsTitle{
    font-family: 'Rivanna NF', sans-serif;
    color: #2B2B27;
    font-size: 28px;
}
.firstTitle{
    font-family: 'Marchesa', sans-serif;
    color: #2B2B27;
    font-size: 22px;
    letter-spacing: 1px;
}
.basicFont{
    font-family: 'DM Serif Display', serif;
    color: #2B2B27;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    /* color: blue; */
}
.idFont{
    font-family: 'DM Serif Display', serif;
    color: #2B2B27;
    font-size: 14px;
}
.secondTitle{
    font-family: 'Odalisque NF', sans-serif;
    color: #2B2B27;
    font-size: 22px;
    letter-spacing: 2px;
}
.avatar{
    height: 200px;
    border: dashed #2B2B27 2px;
    font-style: italic;
    text-align: center;
}
.inputName{
    border: none;
    background-color: transparent;
}
.ageInput{
    width: 60%;
    display: inline;
    border: none;
    background-color: transparent;
}
.decoTop{
    width: 100%;
    height: 20px;
    background-image: url(images/deco1.svg);
    background-repeat: repeat-x;
    margin-top: 10px;
    margin-bottom: 10px;
}
.decoBottom{
    width: 100%;
    height: 20px;
    background-image: url(images/deco2.svg);
    background-repeat: repeat-x;
    margin-top: 10px;
    margin-bottom: 10px;
}
